<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/RGB.css">
    <title>How to play?</title>
    
</head>
<body>
    <h1 style="padding-top: 1em;">How to play THE RGB COLOR GUESSING GAME ?</h1>
    <h3>There are two modes to start with:</h3><br>
    <ol>
        <li>
            <h4>Easy mode:</h4>
            <p>There are <b>3</b> colors to choose from. You have to guess the right color from given choices by referring to the rgb code given at the top.</p>
        </li><br>
        <li>
            <h4>Hard mode:</h4>
            <p>There are <b>6</b> colors to choose from. You have to guess the right color from given choices by referring to the rgb code given at the top.</p>
        </li><br>
        <p>You may choose the 'NEW COLORS' option if you want to guess any other color</p>
    </ol>
</body>
</html>