<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/RGB.css">
    <title>The RGB color guessing game</title>
</head>
<body>
    <h1>the <br><span id="picked"></span><br>color guessing game</h1>
    <div id="stripe">
            <button id="reset">New Colors</button>
            <span id="result"></span>
            <button id="easy">EASY</button>
            <button id="hard" class="selectedbtn">HARD</button>
            <button class="insbtn"><a href="/how-to-play">How to play?</a></button>
    </div>
    <div class="container">
        <div class="Squares"></div>
        <div class="Squares"></div>
        <div class="Squares"></div>
        <div class="Squares"></div>
        <div class="Squares"></div>
        <div class="Squares"></div>
    </div> 
    <script src="/js/RGB.js"></script>
</body>
</html>